<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<style>
    td{
        padding: 10px 50px;
    }
</style>
<body>
    <h4>index page to view entries</h4>

    <a href="/q4form">Add items</a>
    <hr>
    
    <table>
        <thead>
            <tr>
                <th>Title</th>
                <th>Price</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for product in all_products %}
            <tr>
                <td>{{ product.title }}</td>
                <td>{{ product.price }}</td>
                <td>{{ product.description }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</body>
</html>